@import url("https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Afacad Flux";
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(330deg, aliceblue, cornflowerblue);
}

.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 20px;
  border: 2px solid white;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  color: navy;
  letter-spacing: 1.2px;
  text-shadow: 1px 0px 3px rgba(255, 255, 255, 0.7);
}

.btn {
  display: inline-block;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
  transition: all 0.5s ease;
}
.btn:focus {
  outline: none;
}
.btn:hover {
  background: rgba(0, 0, 0, 0.9);
}

.btn-block {
  display: grid;
  margin: 0 auto;
  width: 95%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 6px;
}

.task.reminder {
  border-left: 5px solid #00bf00;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
  color: #fff;
  text-transform: uppercase;
  margin-left: 7px;
  letter-spacing: 1px;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 0px 5px;
  padding: 3px 7px;
  font-size: 17px;
  background: rgba(255, 255, 255, 0.7);
  border: 1px solid cornflowerblue;
  border-radius: 5px;
  outline: none;
}

.form-control input::placeholder {
  color: rgba(0, 0, 0, 0.4);
  font-weight: 100;
  text-transform: lowercase;
  font-size: 0.8rem;
  font-family: "Afacad Flux";
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
  text-shadow: 1px 0 1px rgba(0, 0, 0, 0.3);
}

.form-control-check input {
  flex: 2;
  height: 20px;
  outline: none;
}

footer {
  margin-top: 30px;
  text-align: center;
}
